@import '../../../../styles/abstracts/helpers';

.button__reset {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 0;
}

.button__base {
  composes: button__reset;
  border-radius: 0.25rem;
  display: inline-block;
  font-weight: $font-weight-medium;
  letter-spacing: 0.0286em;
  line-height: 1.75;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
}

.button__contained {
  background-color: get-color('grey', 300);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 24%);

  &:hover {
    background-color: get-color('grey', 400);
  }
}

.button__contained--primary {
  composes: button__contained;
  background-color: get-color('primary', 'base');
  color: get-color('primary', 'contrastText');

  &:hover {
    background-color: get-color('primary', 'dark');
  }
}

.button__contained--secondary {
  composes: button__contained;
  background-color: get-color('secondary', 'base');
  color: get-color('secondary', 'contrastText');

  &:hover {
    background-color: get-color('secondary', 'dark');
  }
}

.button__contained--success {
  composes: button__contained;
  background-color: get-color('success', 'base');
  color: get-color('success', 'contrastText');

  &:hover {
    background-color: get-color('success', 'dark');
  }
}

.button__contained--danger {
  composes: button__contained;
  background-color: get-color('danger', 'base');
  color: get-color('danger', 'contrastText');

  &:hover {
    background-color: get-color('danger', 'dark');
  }
}

.button__contained--warning {
  composes: button__contained;
  background-color: get-color('warning', 'base');
  color: get-color('warning', 'contrastText');

  &:hover {
    background-color: get-color('warning', 'dark');
  }
}

.button__contained--info {
  composes: button__contained;
  background-color: get-color('info', 'base');
  color: get-color('info', 'contrastText');

  &:hover {
    background-color: get-color('info', 'dark');
  }
}

.button__contained--disabled {
  composes: button__contained;
  background-color: get-color('grey', 300);
  color: get-color('grey', 500);
  cursor: not-allowed;

  &:hover {
    background-color: get-color('grey', 300);
  }
}

.button__contained--small {
  font-size: px-to-rem(13px);
  padding: 4px 10px;
}

.button__contained--medium {
  font-size: px-to-rem(14px);
  padding: 6px 16px;
}

.button__contained--large {
  font-size: px-to-rem(15px);
  padding: 8px 22px;
}

.button__outlined {
  background-color: transparent;
  border: 1px solid get-color('grey', 300);

  &:hover {
    background-color: get-color('grey', 100);
    border-color: get-color('grey', 900);
  }
}

.button__outlined--primary {
  composes: button__outlined;
  border-color: get-color('primary', 'base');
  color: get-color('primary', 'base');

  &:hover {
    background-color: rgba(get-color('primary', 'base'), 0.1);
    border-color: get-color('primary', 'dark');
    color: get-color('primary', 'dark');
  }
}

.button__outlined--secondary {
  composes: button__outlined;
  border-color: get-color('secondary', 'base');
  color: get-color('secondary', 'base');

  &:hover {
    background-color: rgba(get-color('secondary', 'base'), 0.1);
    border-color: get-color('secondary', 'dark');
    color: get-color('secondary', 'dark');
  }
}

.button__outlined--success {
  composes: button__outlined;
  border-color: get-color('success', 'base');
  color: get-color('success', 'base');

  &:hover {
    background-color: rgba(get-color('success', 'base'), 0.1);
    border-color: get-color('success', 'dark');
    color: get-color('success', 'dark');
  }
}

.button__outlined--danger {
  composes: button__outlined;
  border-color: get-color('danger', 'base');
  color: get-color('danger', 'base');

  &:hover {
    background-color: rgba(get-color('danger', 'base'), 0.1);
    border-color: get-color('danger', 'dark');
    color: get-color('danger', 'dark');
  }
}

.button__outlined--warning {
  composes: button__outlined;
  border-color: get-color('warning', 'base');
  color: get-color('warning', 'base');

  &:hover {
    background-color: rgba(get-color('warning', 'base'), 0.1);
    border-color: get-color('warning', 'dark');
    color: get-color('warning', 'dark');
  }
}

.button__outlined--info {
  composes: button__outlined;
  border-color: get-color('info', 'base');
  color: get-color('info', 'base');

  &:hover {
    background-color: rgba(get-color('info', 'base'), 0.1);
    border-color: get-color('info', 'dark');
    color: get-color('info', 'dark');
  }
}

.button__outlined--disabled {
  composes: button__outlined;
  border-color: get-color('grey', 300);
  color: get-color('grey', 500);
  cursor: not-allowed;

  &:hover {
    background-color: transparent;
    border-color: get-color('grey', 300);
  }
}

.button__outlined--small {
  font-size: px-to-rem(13px);
  padding: 3px 9px;
}

.button__outlined--medium {
  font-size: px-to-rem(14px);
  padding: 5px 15px;
}

.button__outlined--large {
  font-size: px-to-rem(15px);
  padding: 7px 21px;
}

.button__text {
  background-color: transparent;

  &:hover {
    background-color: get-color('grey', 100);
  }
}

.button__text--primary {
  composes: button__text;
  color: get-color('primary', 'base');

  &:hover {
    background-color: rgba(get-color('primary', 'base'), 0.1);
    color: get-color('primary', 'dark');
  }
}

.button__text--secondary {
  composes: button__text;
  color: get-color('secondary', 'base');

  &:hover {
    background-color: rgba(get-color('secondary', 'base'), 0.1);
    color: get-color('secondary', 'dark');
  }
}

.button__text--success {
  composes: button__text;
  color: get-color('success', 'base');

  &:hover {
    background-color: rgba(get-color('success', 'base'), 0.1);
    color: get-color('success', 'dark');
  }
}

.button__text--danger {
  composes: button__text;
  color: get-color('danger', 'base');

  &:hover {
    background-color: rgba(get-color('danger', 'base'), 0.1);
    color: get-color('danger', 'dark');
  }
}

.button__text--warning {
  composes: button__text;
  color: get-color('warning', 'base');

  &:hover {
    background-color: rgba(get-color('warning', 'base'), 0.1);
    color: get-color('warning', 'dark');
  }
}

.button__text--info {
  composes: button__text;
  color: get-color('info', 'base');

  &:hover {
    background-color: rgba(get-color('info', 'base'), 0.1);
    color: get-color('info', 'dark');
  }
}

.button__text--disabled {
  composes: button__text;
  color: get-color('grey', 500);
  cursor: not-allowed;

  &:hover {
    background-color: transparent;
  }
}

.button__text--small {
  font-size: px-to-rem(13px);
  padding: 4px 10px;
}

.button__text--medium {
  font-size: px-to-rem(14px);
  padding: 6px 16px;
}

.button__text--large {
  font-size: px-to-rem(15px);
  padding: 8px 22px;
}
